# What drives the price of a car?

![](images/kurt.jpeg)

**OVERVIEW**

In this application, you will explore a dataset from kaggle. The original dataset contained information on 3 million used cars. The provided dataset contains information on 426K cars to ensure speed of processing.  Your goal is to understand what factors make a car more or less expensive.  As a result of your analysis, you should provide clear recommendations to your client -- a used car dealership -- as to what consumers value in a used car.

### CRISP-DM Framework

<center>
    <img src = images/crisp.png width = 50%/>
</center>


To frame the task, throughout our practical applications we will refer back to a standard process in industry for data projects called CRISP-DM.  This process provides a framework for working through a data problem.  Your first step in this application will be to read through a brief overview of CRISP-DM [here](https://mo-pcco.s3.us-east-1.amazonaws.com/BH-PCMLAI/module_11/readings_starter.zip).  After reading the overview, answer the questions below.

### Business Understanding

From a business perspective, we are tasked with identifying key drivers for used car prices.  In the CRISP-DM overview, we are asked to convert this business framing to a data problem definition.  Using a few sentences, reframe the task as a data task with the appropriate technical vocabulary.

In this exercise, we will attempt to identify and understand the key features which determine the value of a used vehicle to the customer. Or more explicitly, what factors in the available data are the stongest influencers of the value of a used vehicle. 

We will use correlation analysis to identify factors which have strong positive or negative influences on one another - as well as analyze the remaining data points which do not show strong correlations. 

From our initial analysis, we will use tools such as LASSO and Sequential Feature Selection (tools for narrowing a feature set to only those with the strongest weight in determining an outcome) to identify the factors which have the strongest influence on vehicle value, enabling the building of a strong predictive model. We will use Linear Regression and Polonomial Features (potentially more) to identify the optimal predictive model. If necessary, we will look for seasonal patterns in the data, eliminating repeating trends which might have adverse influence on a general purpose model.

### Data Understanding

After considering the business understanding, we want to get familiar with our data.  Write down some steps that you would take to get to know the dataset and identify any quality issues within.  Take time to get to know the dataset and explore what information it contains and how this could be used to inform your business understanding.

We will look at the data's info and determine how many numeric versus non-numeric data types we have. We will also look for NaN values and make determinations on what can safely be disregarded. If necessary, missing data may need to be inferred or reconstructed into a new dataframe depending on the weight of the feature in question and how much of the data is actually missing. 
We will initially plot histograms on the data, and create a correlation matrix so we can view heatmaps - to get a better picture of how the data features relate to one another.

## Libraries

In [1]:
from sklearn.linear_model import LinearRegression, Lasso
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.pipeline import Pipeline
from sklearn.feature_selection import SequentialFeatureSelector, SelectFromModel
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn import set_config
set_config(display="diagram")


import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px

### Data Preparation

After our initial exploration and fine tuning of the business understanding, it is time to construct our final dataset prior to modeling.  Here, we want to make sure to handle any integrity issues and cleaning, the engineering of new features, any transformations that we believe should happen (scaling, logarithms, normalization, etc.), and general preparation for modeling with `sklearn`.

In [2]:
# Import the dataset and just look at it first
vehicles = pd.read_csv('data/vehicles.csv')
vehicles

,id,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,VIN,drive,size,type,paint_color,state
0,7222695916,prescott,6000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,az
1,7218891961,fayetteville,11900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ar
2,7221797935,florida keys,21000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,fl
3,7222270760,worcester / central MA,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ma
4,7210384030,greensboro,4900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nc
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426875,7301591192,wyoming,23590,2019.0,nissan,maxima s sedan 4d,good,6 cylinders,gas,32226.0,clean,other,1N4AA6AV6KC367801,fwd,NaN,sedan,NaN,wy
426876,7301591187,wyoming,30590,2020.0,volvo,s60 t5 momentum sedan 4d,good,NaN,gas,12029.0,clean,other,7JR102FKXLG042696,fwd,NaN,sedan,red,wy
426877,7301591147,wyoming,34990,2020.0,cadillac,xt4 sport suv 4d,good,NaN,diesel,4174.0,clean,other,1GYFZFR46LF088296,NaN,NaN,hatchback,white,wy
426878,7301591140,wyoming,28990,2018.0,lexus,es 350 sedan 4d,good,6 cylinders,gas,30112.0,clean,other,58ABK1GG4JU103853,fwd,NaN,sedan,silver,wy
426879,7301591129,wyoming,30590,2019.0,bmw,4 series 430i gran coupe,good,NaN,gas,22716.0,clean,other,WBA4J1C58KBM14708,rwd,NaN,coupe,NaN,wy

In [3]:
vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426880 non-null  int64
 1   region        426880 non-null  object
 2   price         426880 non-null  int64
 3   year          425675 non-null  float64
 4   manufacturer  409234 non-null  object
 5   model         421603 non-null  object
 6   condition     252776 non-null  object
 7   cylinders     249202 non-null  object
 8   fuel          423867 non-null  object
 9   odometer      422480 non-null  float64
 10  title_status  418638 non-null  object
 11  transmission  424324 non-null  object
 12  VIN           265838 non-null  object
 13  drive         296313 non-null  object
 14  size          120519 non-null  object
 15  type          334022 non-null  object
 16  paint_color   296677 non-null  object
 17  state         426880 non-null  object
dtypes: float64(2), int64(2), object(14)
memory usage: 58.6+ MB

# Initial thoughts
Price will be my 'y' - and I will split the datasets accordingly. 

I'm thinking about which features I will consider removing. First, I look at VIN # and id - these will have no impact on any outcome. Before digging further, I want to get an idea of how many NaN values are in these features.

# Look for NaN values and count them up

In [4]:
missing_values = vehicles.isna().sum()
print(missing_values)

id                   0
region               0
price                0
year              1205
manufacturer     17646
model             5277
condition       174104
cylinders       177678
fuel              3013
odometer          4400
title_status      8242
transmission      2556
VIN             161042
drive           130567
size            306361
type             92858
paint_color     130203
state                0
dtype: int64

### Remove unneeded features

In [5]:
columns_to_drop = ['price', 'VIN', 'size', 'id','cylinders','drive','region']
vehicles = vehicles.drop(columns=columns_to_drop)
vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          425675 non-null  float64
 1   manufacturer  409234 non-null  object
 2   model         421603 non-null  object
 3   condition     252776 non-null  object
 4   fuel          423867 non-null  object
 5   odometer      422480 non-null  float64
 6   title_status  418638 non-null  object
 7   transmission  424324 non-null  object
 8   type          334022 non-null  object
 9   paint_color   296677 non-null  object
 10  state         426880 non-null  object
dtypes: float64(2), object(9)
memory usage: 35.8+ MB

### Additional cleanup
I am deciding to lose 'region'. I will keep 'state'. Though I believe that 'region' might very well be a consideration in the real world, the level of granularity (404 unique regions) seems far too high for the purposes of this assignment.

In [6]:
missing_values = vehicles.isna().sum()
print(missing_values)

year              1205
manufacturer     17646
model             5277
condition       174104
fuel              3013
odometer          4400
title_status      8242
transmission      2556
type             92858
paint_color     130203
state                0
dtype: int64

In [7]:
vehicles_cleaned = vehicles.dropna(subset=['year', 'model', 'fuel', 'odometer', 'transmission','title_status'])
vehicles_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 405594 entries, 27 to 426879
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          405594 non-null  float64
 1   manufacturer  389604 non-null  object
 2   model         405594 non-null  object
 3   condition     243067 non-null  object
 4   fuel          405594 non-null  object
 5   odometer      405594 non-null  float64
 6   title_status  405594 non-null  object
 7   transmission  405594 non-null  object
 8   type          316865 non-null  object
 9   paint_color   287375 non-null  object
 10  state         405594 non-null  object
dtypes: float64(2), object(9)
memory usage: 37.1+ MB

After assessing the overall impact on the dataset, I culled approximately 5% of NaN data from the original set into a new cleaned set. 

For the remaining features with missing entries, I plan to add a category for each NaN value ('Unknown') which should allow me to keep these entries and preserve the other data in them. 

I would like to try and use some prediction to fill in at least some of the missing data in 'condition'. I plan to do this by using other features (odometer, year) to infer condition. However, I feel like I should restrict data modification in this category to older vehicles. I am also thinking about if there is a correlation to 'state' - along the lines of northern states which experience harsher winters than states in warmer climates.

In [8]:
missing_values = vehicles_cleaned.isna().sum()
print(missing_values)

year                 0
manufacturer     15990
model                0
condition       162527
fuel                 0
odometer             0
title_status         0
transmission         0
type             88729
paint_color     118219
state                0
dtype: int64

In [9]:
columns_to_replace = ['manufacturer', 'type', 'paint_color', 'condition']

# Replace NaN with 'unknown' in these columns
vehicles_cleaned[columns_to_replace] = vehicles_cleaned[columns_to_replace].fillna('unknown')

# Verify changes or view the updated DataFrame
print(vehicles_cleaned[columns_to_replace].head())

   manufacturer    type paint_color  condition
27          gmc  pickup       white       good
28    chevrolet  pickup        blue       good
29    chevrolet  pickup         red       good
30       toyota  pickup         red       good
31         ford   truck       black  excellent

/var/folders/ty/wdqsvnss3ygblt5_bpj9b7kr0000gn/T/ipykernel_64023/1920853573.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vehicles_cleaned[columns_to_replace] = vehicles_cleaned[columns_to_replace].fillna('unknown')

In [10]:
missing_values = vehicles_cleaned.isna().sum()
print(missing_values)

year            0
manufacturer    0
model           0
condition       0
fuel            0
odometer        0
title_status    0
transmission    0
type            0
paint_color     0
state           0
dtype: int64

In [ ]:
X = vehicles.drop('price', axis = 1)
y = vehicles['price']

### Modeling

With your (almost?) final dataset in hand, it is now time to build some models.  Here, you should build a number of different regression models with the price as the target.  In building your models, you should explore different parameters and be sure to cross-validate your findings.

### Evaluation

With some modeling accomplished, we aim to reflect on what we identify as a high quality model and what we are able to learn from this.  We should review our business objective and explore how well we can provide meaningful insight on drivers of used car prices.  Your goal now is to distill your findings and determine whether the earlier phases need revisitation and adjustment or if you have information of value to bring back to your client.

### Deployment

Now that we've settled on our models and findings, it is time to deliver the information to the client.  You should organize your work as a basic report that details your primary findings.  Keep in mind that your audience is a group of used car dealers interested in fine tuning their inventory.